<%-include('../partial/header')-%>

    <main class="main">
        <div class="intro-slider-container mb-0">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                data-owl-options='{"nav": false, "dots": false}'>
                <div class="intro-slide" style="background-image: url(/assets/images/figma/blog-banner_1600x.jpeg);">
                    <div class="container intro-content text-center">
                        <h3 class="intro-subtitle text-white">Don’t Miss</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title text-white">Mystery Deals</h1><!-- End .intro-title -->
                        <div class="intro-text text-white">Online Only</div><!-- End .intro-text -->
                        <a href="#" class="btn btn-primary">Discover NOW</a>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide" style="background-image: url(assets/images/demos/demo-5/slider/slide-2.jpg);">
                    <div class="container intro-content text-center">
                        <h3 class="intro-subtitle text-white">Limited time only</h3><!-- End .h3 intro-subtitle -->
                        <h1 class="intro-title text-white">Treat your self</h1><!-- End .intro-title -->
                        <div class="intro-text text-white">Up to 50% off</div><!-- End .intro-text -->
                        <a href="#" class="btn btn-primary">Shop NOW</a>
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .intro-slider owl-carousel owl-theme -->

            <span class="slider-loader text-white"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <% if(products){ %>

            <div class="tab-content tab-content-carousel">
                <div class="container pt-6 new-arrivals">
                    <div class="heading heading-center mb-3">
                        <h2 class="title">New Arrivals</h2><!-- End .title -->
                        <div class="products mt-5 p-5">
                            <div class="row">
                                <% products.reverse().forEach(function(product) { %>

                                    <div class=" product-item  col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2"
                                        data-category="<%- product.category %>" data-price="<%= product.price %>">
                                        <div class="product">
                                            <figure class="product-media">
                                                <%if(product.productquantity==0) {%>
                                                    <span class="product-label label-out">Out of Stock</span>
                                                    <%} else {%>
                                                        <%if(product.offerpercentage || product.categorypercentage ){%>

                                                            <% if(product.categorypercentage>product.offerpercentage){
                                                                %>

                                                                <span class="product-label label-sale text-end"
                                                                    style="background-color: rgba(255, 115, 0, 0.692);">Category
                                                                    offer <%=product.categorypercentage%>% off</span>

                                                                <% }else{ %>

                                                                    <span class="product-label label-sale text-end">
                                                                        <%=product.offerpercentage%>% off
                                                                    </span>

                                                                    <% } %>

                                                                        <%}%>
                                                                            <%}%>
                                                                                <a
                                                                                    href="/viewproductpage?id=<%= product.id %>">
                                                                                    <img src="upload/<%= product.productimage[0] %>"
                                                                                        alt="Product image"
                                                                                        class="product-image">
                                                                                </a>

                                                                                <!-- <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable" data-productid="<%= products._id %>" ><span>add to wishlist</span></a>
                                        </div> -->

                                                                                <div
                                                                                    class="product-action action-icon-top">
                                                                                    <a href="/addtocart?id=<%= product.id %>"
                                                                                        class="btn-product btn-cart"
                                                                                        data-productid="<%=product.id %>"><span>add
                                                                                            to cart</span></a>
                                                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">

                                                <h3 class="product-title text-uppercase font-weight-bold"><a
                                                        href="/viewproductpage?id=<%= product.id %>"><%-product.productname
                                                            %></a></h3><!-- End .product-title -->
                                                <div class="product-brand">
                                                    <%-product.brand %>
                                                </div><!-- End .product-price -->
                                                <div class="product-cat">
                                                    <%- product.category %>
                                                </div><!-- End .product-cat -->
                                                <%if(product.offerpercentage || product.categorypercentage ){%>

                                                    <% if(product.categorypercentage>product.offerpercentage){ %>
                                                        <s style="color: #eb4b4b;">₹<%=product.price%>
                                                                .00</s>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        ₹ <%=product.categoryprice%>.00

                                                            <% }else{ %>
                                                                <s style="color: #eb4b4b;">₹<%=product.price%>
                                                                        .00</s>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                ₹ <%=product.offerprice%>.00

                                                                    <% } %>

                                                                        <% }else{ %>
                                                                            <div class="product-price">
                                                                                ₹ <%=product.price%>.00
                                                                            </div><!-- End .product-price -->


                                                                            <% } %>
                                                                                <div class="ratings-container">
                                                                                    <div class="ratings">
                                                                                        <div class="ratings-val"
                                                                                            style="width: 0%;"></div>
                                                                                        <!-- End .ratings-val -->
                                                                                    </div><!-- End .ratings -->
                                                                                    <span class="ratings-text">( 0
                                                                                        Reviews
                                                                                        )</span>
                                                                                </div><!-- End .rating-container -->

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                    <% }); %>
                            </div>
                        </div>

                    </div><!-- End .heading -->

                </div><!-- End .container -->

            </div><!-- End .product-body -->

            <% }else{ %>
                <div class="heading heading-center mb-3">
                    <h2 class="title">No New Arrivals</h2><!-- End .title -->
                </div>
                <% } %>

                    </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    <!-- printed shirts  ends   -->


    </main>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>



    <% if (locals.notice) { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: '<%=notice%>',
                showConfirmButton: false,
                timer: 2000
            });
        </script>
        <% } %>
            <%-include('../partial/footer')-%>